---
import Header from "../components/Header.astro";
import VideoList from "../components/VideoList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<main class="flex mx-auto max-w-[1600px] py-4 px-10 md:px-5 2xl:py-10">
		<VideoList />
	</main>
</Layout>
