---
import SearchIcon from "./icons/SearchIcon.astro";
---

<header class="bg-[#0e0e0e] border-b border-[#151515] py-3 px-5">
    <ul class="items-center flex mx-auto max-w-[1600px]">
        <li class="flex">
            <a href="/">
                <img
                    src="/Choco-hub.svg"
                    class="w-36"
                    aria-hidden="true"
                    alt="Choco Hub"
                />
            </a>
        </li>
        <li class="flex ml-auto w-1/2 md:ml-15 md:w-1/3">
            <div id="search-container" class="bg-[#252525] w-full border rounded-3xl border-[#252525] transition flex items-center px-4 py-2 focus-within:border-[#2f2f2f]">
                <SearchIcon class="size-5 mr-2" />
                <input
                    id="search-input"
                    type="search"
                    placeholder="Busca en ChocoHub"
                    class="text-white border-none w-full bg-transparent outline-none text-sm group"
                />
            </div>
        </li>
        <li class="ml-auto hidden md:flex">
            <a href="/login" class="text-white"> Iniciar Sesión </a>
        </li>
    </ul>
</header>
